@import "../../../common/common.scss";

.menu{

    .nav{
        a{
            font-size: 14px;
            font-weight: bold;
            display: block;
            position: relative;
            padding: 4%;
            background: #fff;
            text-decoration: none;
            color: #333;
            &:after{
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                height: 1px;
                background: #eaeaea;
                transform: scaleY(.5);
            }
        }
    }
}

