.nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 4%;

    background: #fff;
    font-size: 14px;
    border-bottom: 1px solid #eaeaea;

    .cell{
        position: relative;
        padding: 0 10px;
        height: 50px;
        line-height: 50px;
        width: 50%;
    }

    .cell + .cell{
        border-left: 1px solid #eaeaea;
    }

    .current{
        display: block;
    }
}

.inner{
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    font-size: 14px;

    div{
        height: 50px;
        padding: 0 10px;
        line-height: 50px;
        background: #fff;
    }
}

.item{
    padding: 4%;
    background: #fff;
    font-size: 14px;
    margin-bottom: 4%;

    .line{
        display: flex;
        padding: 2px 0;
        justify-content: space-between;
    }

    .text{
        font-size: 12px;
        color: #999;
    }
}
.item:last-child{
    margin-bottom: 0;
}
.item + .item{
}

.box{
    display: flex;
    justify-content: space-between;
    padding: 4%;
    background: #fff;
}