.wrapper{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    overflow: hidden;
    display: flex;
    background: #fff;
}
.wrapper-sibling{
    height: 1.3333rem;
}
.scroller{
    flex-shrink: 0;
    display: flex;
}