
  .coupon-list{
    padding: 0.4rem 0.4rem 1px 0.4rem;
  }

  .button{
    outline: none;
    width: 100%;
    border: 0;
    color: #fff;
    font-size: 0.4267rem;
    height: 1.3333rem;
    line-height: 1.3333rem;
    background-image: linear-gradient(90deg, #f94c50 0%, #f77366 100%), linear-gradient( #f7645b, #f7645b);
    border-radius: 0.6667rem;
    box-shadow: 0rem 0.0267rem 0.1067rem 0rem rgba(249,82,83,0.75);
  }