.l_box {
    padding: 0.4667rem 0.4rem;
    margin-bottom: 0.2667rem;
    background: #fff;
}

.l_box_in {
    display: flex;
    justify-content: space-between;
}
.l_flex{
    display: flex;
    align-items: center;
}
.l_box_inv {
    padding: 0.6667rem 0.2667rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff3f0;
}

.u_t1 {
    font-size: 0.4rem;
}

.u_t2 {
    font-size: 0.3467rem;
}

.u_c_g {
    color: #898996;
}

.u_c_r {
    color: #f8695e;
}

.u_m_b {
    margin-bottom: 0.2667rem;
}

.u_m_b_c {
    margin-bottom: 0.4667rem;
}

.m_label {
    font-size: 0.6667rem;
    margin-right: 0.2667rem;
}

.m_input {
    color: #1a1b1c;
    padding: 0;
    outline: none;
    border: 0;
    border-radius: 0;
    width: 100%;
    font-size: 0.6667rem;
    background: transparent;
    line-height: normal;
}

.m_input2 {
    color: #1a1b1c;
    padding: 0;
    outline: none;
    border: 0;
    border-radius: 0;
    width: 100%;
    font-size: 0.4rem;
    background: transparent;
    line-height: normal;
}

.m_button {
    align-self: stretch;
    margin-left: 0.2667rem;
    padding: 0;
    color: #f8695e;
    width: auto;
    flex-shrink: 0;
    border: 0;
    outline: none;
    background: transparent;
}
.m_arrow{
    width: 0.24rem;
    height: 0.4rem;
    margin-left: 0.5333rem;
}

.m_checkbox_icon {
    width: 0.32rem;
    height: 0.32rem;
    margin-right: 0.1333rem;
}

.m_fixed_fill {
    height: 1.3333rem;
}

.m_op {
    display: flex;
    justify-content: space-between;
}

.m_op__service {
    font-size: 0.2667rem;
    text-align: center;
    flex-grow: 1;
    height: 1.3333rem;
    color: #898996;
    background: #fff;
}

.m_op__invest {
    border: 0;
    font-size: 0.4267rem;
    color: #fff;
    text-align: center;
    height: 1.3333rem;
    line-height: 1.3333rem;
    width: 7.8667rem;
    background-image: linear-gradient(90deg, #f94c50 0%, #f77366 100%), linear-gradient( #d7d7d7, #d7d7d7);
}

.m_op__service_icon {
    margin: 0.2rem auto 0.1333rem auto;
    width: 0.5333rem;
    height: 0.52rem;
}

.fixed {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #f8f8f8;
    padding: 0.4rem;
    overflow-y: auto;

}

.coupon {
    display: flex;
    margin-bottom: 0.4rem;
    box-shadow: 0rem 0.0267rem 0.08rem 0rem 
    rgba(0, 0, 0, 0.08);
}

.coupon_aside {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #fff;
    width: 3.5rem;
    padding: 0.4rem;
    border-radius: 0.1067rem 0rem 0rem 0.1067rem;
    background-image: linear-gradient(90deg, #f94c50 0%, #f77366 100%), linear-gradient( #f8695e, #f8695e);
}
.coupon_amount{
    margin-bottom: 0.2667rem;
    font-size: 0.6667rem;
}

.coupon_condition{
    font-size: 0.3467rem;
}
.coupon_main {
    flex-grow: 1;
    background: #fff;
    border-radius: 0rem 0.1067rem 0.1067rem 0rem ;
}
.coupon_hd{
    position: relative;

    display: flex;
    align-items: flex-end;
    padding: 0.4rem 0.4rem 0 0.4rem;
    margin-bottom: 0.2667rem;
}
.coupon_bd{
    font-size: 10px;
    line-height: 0.48rem;
    padding: 0 0.4rem 0.2rem 0.4rem;
}
.coupon_ft{
    position: relative;
    text-align: right;
    padding: 0.2rem 0.4rem;
}
.coupon_ft:after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 1px;
    background: #eaeaea;
    transform: scaleY(.5);
}
.coupon_title{
    font-weight: bold;
    font-size: 0.48rem;
}
.coupon_badge{
    margin-left: 0.2667rem;
    color: #fff;
    border-radius: 0.2rem;
    padding: 0.0667rem 0.1333rem;
    background-image: linear-gradient(90deg, #f94c50 0%, #f77366 100%), linear-gradient( #f8695e, #f8695e);

}
.coupon_expire{
    color: #898996;
    font-size: 0.2933rem;
}
.coupon_checkbox{
    position: absolute;
    top: 0.4rem;
    right: 0.4rem;
    width: 0.4rem;
    height: 0.4rem;
}