$linkColor:         #08c;
$btnColor:          #e35855;

.recharge{
    font-size: 14px;
}
.box{
    padding: 4%;
}

.input{
    font-size: 16px;
    outline: none;
    border: 1px solid #eaeaea;
    padding: 4%;
    border-left: 0;
    border-right: 0;
    width: 100%;
}


.button{
    outline: none;
    letter-spacing: .1em;
    font-size: 14px;
    border-radius: 3px;
    color: #fff;
    background: $btnColor;
    border: 0;
    display: block;
    width: 100%;
    padding: 4% 0;
    border-bottom: 4px solid #ca433f;
}

button:active{
    box-shadow: inset 3px 6px 16px rgba(0,0,0,0.1);
}