.profile{
    background: #ea544a;
    .total{
        padding: 4% 0;
        color: #fff;
        text-align: center;
        .num{
            letter-spacing: .1em;
            font-size: 34px;
        }
        .title{
            letter-spacing: .1em;
        }
    }
}

.operation{
    display: flex;
    align-items: center;
    padding: 4%;
    background: #fff;
    margin-bottom: 4%;
    font-size: 14px;
    .cell{
        flex-grow: 1;
    }
    .aside{
        flex-grow: 0;
        a{
            text-decoration: none;
            color: #fff;
            padding: 3px 10px;
            display: inline-block;
            background: #ea544a;
        }
        a + a{
            margin-left: 10px;
        }
    }
}


.nav{
    font-size: 14px;
    .box{
        margin-bottom: 4%;
        a{
            padding: 4%;
            padding-left: 15%;
            letter-spacing: .1em;
            background: #fff;
            border-bottom: 1px solid #eaeaea;
            color: #333;
            display: block;
            text-decoration: none;
        }
        a:active{
            background: #f7f7f8;
        }
    }

}

.money{
    padding: 4% 0;
    color: #fff;
    font-size: 14px;
    display: flex;
    .cell{
        text-align: center;
        flex-grow: 1;
        .num{
            font-size: 16px;
            letter-spacing: .2em;
            font-weight: bold;
        }
    }
}

.wrap{
    padding: 0 4% 4% 4%;

}


.toggle{
    position: fixed;
    top: 0;
    right: 0;
    border: 0;
    background: transparent;
    color: #fff;
    padding: 10px 20px;
}

.name{
    color: #fff;
    padding: 10px 20px;
}