.card {
    color: #fff;
    margin: auto;
    padding: 0.4rem;
    width: 9.2rem;
    height: 4.96rem;
    border-radius: 0.1333rem;
    background-image: linear-gradient(105deg, #ff7e7a 0%, #ff4242 100%), linear-gradient( #ffffff, #ffffff);
}
.card__row{
    display: flex;
}
.card__cell{

}