$borderColor: #eaeaea;

.l-box{
    background: #fff;
    margin-bottom: 4%;
}
.l-box-hd{
    padding: 4%;
    border-bottom: 1px solid $borderColor;
}
.l-box-bd{
    padding: 4%;
}

.banner{
	img{
		display: block;
		max-width: 100%;
	}
}

.swiper-pagination {
    span{
        border-radius: 0;
        width: 20px;
        height: 4px;
    }
}

