.loading{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff url(./loading.gif) no-repeat center center;
    background-size: 100px 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    letter-spacing: .2em;
    font-size: 28px;
}

