$linkColor:         #08c;
$btnColor:          #e35855;

.container{
    padding-top: 4%;
}

.box{
    background: #fff;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    .line{
        padding: 0 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        input{
            height: 45px;
            font-size: 14px;
            border: 0;
            width: 100%;
            outline: none;
        }
        .img{
            height: 30px;
            max-width: 100%;
        }
        .link{
            flex-shrink: 0;
        }
    }
    .line + .line{
        border-top: 1px solid #eaeaea;
    }
}

.wrap{
    padding: 4%;
}

.button{
    outline: none;
    letter-spacing: .1em;
    font-size: 14px;
    border-radius: 3px;
    color: #fff;
    background: $btnColor;
    border: 0;
    display: block;
    width: 100%;
    padding: 4% 0;
    border-bottom: 4px solid #ca433f;
}

button:active{
    box-shadow: inset 3px 6px 16px rgba(0,0,0,0.1);
}