.safety{
	padding-top: 4%;
	.section{
		font-size: 14px;
		margin-bottom: 4%;
		border-top: 1px solid #eaeaea;
		border-bottom: 1px solid #eaeaea;

		li{
			padding: 4%;
			display: flex;
			justify-content: space-between;
			background: #fff;
		}
		li + li{
			border-top: 1px solid #eaeaea;
		}
	}

	a{
		color: #277dd3;
		text-decoration: none;
	}
}
