.safety{
    li{
        position: relative;
        padding: 4%;
        font-size: 14px;
        display: flex;
        justify-content: space-between;
        background: #fff;
    }
    li:after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 1px;
        background: #eaeaea;
        transform: scaleY(.5);
    }
    a{
        padding-left: 10px;
        color: #277dd3;
        text-decoration: none;
    }
}
