$linkColor:         #08c;
$btnColor:          #e35855;

.head{
    padding: 4%;
    color: #fff;
    background: #e35855;

    h2{
        font-size: 16px;
    }

    p{
        font-size: 32px;
    }
}

.container{
    padding: 4%;
}

.box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    padding: 4%;
    background: #fff;   
}

.mg{
    margin-bottom: 4%;
}

.center{
    justify-content: center
}
.shrink{
    flex-shrink: 0;
}

a{
    text-decoration: none;
    color: $linkColor;
}

.input{
    border: 0;
    outline: none;
    width: 100%;
    text-align: right;
    margin-left: 2em;
}

.button{
    outline: none;
    letter-spacing: .1em;
    font-size: 14px;
    border-radius: 3px;
    color: #fff;
    background: $btnColor;
    border: 0;
    display: block;
    width: 100%;
    padding: 4% 0;
    border-bottom: 4px solid #ca433f;
}

button:active{
    box-shadow: inset 3px 6px 16px rgba(0,0,0,0.1);
}