.list{
    a{
        position: relative;
        display: block;
        margin-bottom: 0.4rem;
    }
    a:last-child{
        margin: 0;
        
        &:after{
            content: none;
        }
    }
}