.activity{
    color: #333;
    margin-bottom: 4%;
}
.activity .img{
    height: 0;
    padding-top: 47.24%;
    overflow: hidden;
    border-radius: 3px;
    background-size: 100%;
    margin-bottom: 10px;
}
