.link {
    text-decoration: none;
}

.table {
    width: 100%;
    td {
        padding: 10px;
    }
}

.item {
    display: flex;
    align-content: space-between;
}


.bar {
    background: #eceff8;
}

.bar__per {
    height: 4px;
    background: #ff5151;
}



.l-hd {
    display: flex;
    margin-bottom: 0.2667rem;
    background: #fff;
}

.l-hd-item {
    padding: 15px 0;
    flex: 1;
    text-align: center;
    justify-content: center;
}

.item__box{
    display: flex;
    & > div{
        flex: 1;
    }
}

.item{
    height: 100px;
}