.head{
    color: #fff;
    padding: 4%;
    letter-spacing: .1em;
    font-size: 14px;
    background: #e35855;
    dd{
        font-size: 16px;
    }
}

.balance{
    padding: 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    font-size: 14px;
    margin-bottom: 4%;
    strong{
        color: #e35855;
    }

    a{
        text-decoration: none;
        color: #fff;
        flex-shrink: 0;
        background: #e35855;
        padding: 1% 5%;
    }
}

.box{
    padding: 4%;
}

.item{
    font-size: 14px;
    padding: 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;

    label{
        font-weight: bold;
    }
}

input{
    padding: 8px 10px;
    border: 1px solid #eaeaea;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f7f7f8;
    overflow: auto;
}

._item{
    padding: 4%;
    background: #fff;
}
._title{
    font-size: 16px;
    font-weight: bold;

    span{
        font-size: 12px;
        margin-left: 1em;
        font-weight: normal;
    }
}