.sibling{
	padding: 4% 0;
}
.menu{
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	border-top: 1px solid #f7f7f8;

	nav{
		display: flex;
		a{
			letter-spacing: .2em;
			font-size: 14px;
			background: #fff;
			color: #333;
			padding: 3% 0;
			text-decoration: none;
			flex-grow: 1;
			text-align: center;
		}
		
		a:active{
			background: #f7f7f8;
		}
	}	
}
