:global {
    .login {
        background: url(./images/bg.png) no-repeat center top;
        background-size: cover;

        input::-webkit-input-placeholder,
        textarea::-webkit-input-placeholder {
            /* WebKit browsers */
            color: #fff;
        }

        input:-moz-placeholder,
        textarea:-moz-placeholder {
            /* Mozilla Firefox 4 to 18 */
            color: #fff;
        }

        input::-moz-placeholder,
        textarea::-moz-placeholder {
            /* Mozilla Firefox 19+ */
            color: #fff;
        }

        input:-ms-input-placeholder,
        textarea:-ms-input-placeholder {
            /* Internet Explorer 10+ */
            color: #fff;
        }
    }
}








.m_clear_btn{
    display: none;
    cursor: pointer;
    position: absolute;
    top: 0.4667rem;
    right: 0;
    width: 0.4533rem;
    height: 0.4533rem;
    background: url(./images/clear_icon.png) no-repeat center center;
    background-size: cover;
}
.m_clear_btn_pswd{
    display: none;

    cursor: pointer;
    position: absolute;
    top: 0.4667rem;
    right: 1.3333rem;
    width: 0.4533rem;
    height: 0.4533rem;
    background: url(./images/clear_icon.png) no-repeat center center;
    background-size: cover;
}



.m_clear_btn_pswd_msg{
    display: none;
    
    cursor: pointer;
    position: absolute;
    top: 0.4667rem;
    right: 2.5333rem;
    width: 0.4533rem;
    height: 0.4533rem;
    background: url(./images/clear_icon.png) no-repeat center center;
    background-size: cover;   
}





