:global {
    .login {
        background: url(./images/bg.png) no-repeat center top;
        background-size: cover;

        input::-webkit-input-placeholder,
        textarea::-webkit-input-placeholder {
            /* WebKit browsers */
            color: #fff;
        }

        input:-moz-placeholder,
        textarea:-moz-placeholder {
            /* Mozilla Firefox 4 to 18 */
            color: #fff;
        }

        input::-moz-placeholder,
        textarea::-moz-placeholder {
            /* Mozilla Firefox 19+ */
            color: #fff;
        }

        input:-ms-input-placeholder,
        textarea:-ms-input-placeholder {
            /* Internet Explorer 10+ */
            color: #fff;
        }
    }
}



.logo {
    width: 1.08rem;
    height: 1.0533rem;
    margin: 2.1333rem auto 1.0667rem auto;
}


.tab__navs {
    width: 240px;
    position: relative;
    margin: 0 auto 1.0667rem auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.tab__nav {
    color: #fff;
    padding: 0 0 0.2667rem 0;
    font-size: 0.48rem;
    list-style: none;
    &:focus{
        outline: none;
    }
}
.slider{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 1.9333rem;
    background: #fff;
    transition: all .3s;
}
.slider_aside{
    left: auto;
    right: 0;
}
.l_box {
    padding: 0 1rem;
    margin-bottom: 1.0667rem;
}

.l_box2 {
    padding: 0 0.8667rem;
}

.l_box3 {

}

.l_box4{
    display: flex;
    justify-content: space-between;

    padding-top: 0.4rem;
}

.m_icon{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 0.4rem;
    background-size: cover;
    background-position: center center;
}
.m_icon__user{
    background-repeat: no-repeat;
    background-image: url(./images/user_icon.png);
    background-size: 0.4rem 0.4267rem;
}
.m_icon__pswd{
    background-repeat: no-repeat;
    background-image: url(./images/pswd_icon.png);
    background-size: 0.3867rem 0.4533rem;
}
.m_get_code{
    color: #fff;
    font-size: 0.32rem;
    position: absolute;
    top: 0.3333rem;
    right: 0;
    height: 0.7467rem;
    line-height: 0.7467rem;
    padding: 0 0.2rem;
    border: solid 1px #ffffff;
}
.m_clear_btn{
    display: none;
    cursor: pointer;
    position: absolute;
    top: 0.4667rem;
    right: 0;
    width: 0.4533rem;
    height: 0.4533rem;
    background: url(./images/clear_icon.png) no-repeat center center;
    background-size: cover;
}
.m_clear_btn_pswd{
    display: none;

    cursor: pointer;
    position: absolute;
    top: 0.4667rem;
    right: 1.3333rem;
    width: 0.4533rem;
    height: 0.4533rem;
    background: url(./images/clear_icon.png) no-repeat center center;
    background-size: cover;
}
.m_clear_btn_pswd_msg{
    cursor: pointer;
    position: absolute;
    top: 0.4667rem;
    right: 2.5333rem;
    width: 0.4533rem;
    height: 0.4533rem;
    background: url(./images/clear_icon.png) no-repeat center center;
    background-size: cover;   
}
.m_view_pswd_close{
    cursor: pointer;
    position: absolute;
    top: 0.4667rem;
    right: 0;
    width: 0.56rem;
    height: 0.4267rem;
    background: url(./images/eye_close_icon.png) no-repeat center center;
    background-size: cover;
}
.m_view_pswd_open{
    cursor: pointer;
    position: absolute;
    top: 0.4667rem;
    right: 0;
    width: 0.56rem;
    height: 0.4267rem;
    background: url(./images/eye_open_icon.png) no-repeat center center;
    background-size: cover;
}

.m_box{
    position: relative;
    &:after{
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 1px;
        background: #eaeaea;
        transform: scaleY(.5);
    }
}
.m_link{
    color: #fff;
    font-size: 0.3467rem;
}
.input {
    color: #fff;
    border: 0;
    outline: none;
    width: 100%;
    font-size: 0.4rem;
    border-radius: 0;
    padding: 0.3333rem 0 0.3333rem 0.8rem;
    background: transparent;
    height: auto;
    line-height: 0.7467rem;
}

.button {
    font-weight: bold;
    letter-spacing: .1em;
    color: #f8695e;
    padding: 0;
    font-size: 0.4267rem;
    cursor: pointer;
    border: 0;
    outline: none;
    height: 1.3333rem;
    border-radius: 0.6667rem;
    width: 100%;
    background: #fff;
    box-shadow: 0rem 0.0267rem 0.1067rem 0rem rgba(249, 82, 83, 0.75);
}
