$linkColor: #08c;
$btnColor: #e35855;
$borderColor: #eaeaea;


*,
*:after,
*:before {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    color: #333;
    background: #f7f7f8;
    font-family: "PingFangSC-Regular", "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Heiti SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
}

a {
    color: #333;
    text-decoration: none;
}

img{
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

:global {
    .label {
        color: #fff;
        display: inline-block;
        font-size: 0.3467rem;
        padding: 0.1067rem 0.6rem;
        transform: skewX(-15deg);
        border-radius: 3px;
        background-image: linear-gradient(90deg, #fb7850 0%, #ff5b33 100%), linear-gradient( #ff5b33, #ff5b33);
        box-shadow: 0rem 0.04rem 0.1067rem 0rem rgba(255, 91, 51, 0.75);
    }
    .gradient {
        background-image: linear-gradient(90deg, #f94c50 0%, #f77366 100%), linear-gradient( #ff6364, #ff6364);
    }
}
