$linkColor:         #08c;
$btnColor:          #e35855;

.login{
    .box{
        display: flex;
        justify-content: space-between;

    }
    .wrap{
        margin: 4%;

        input{
            font-size: 14px;
            padding: 15px;
            width: 100%;
            outline: none;
            border: 0;
        }
        .line + .line{
            border-top: 1px solid #eaeaea;
        }
    }
}


.button{
    outline: none;
    letter-spacing: .1em;
    font-size: 14px;
    border-radius: 3px;
    color: #fff;
    background: $btnColor;
    border: 0;
    display: block;
    width: 100%;
    padding: 4% 0;
    border-bottom: 4px solid #ca433f;
}

button:active{
    box-shadow: inset 3px 6px 16px rgba(0,0,0,0.1);
}