.profile{
    color: #fff;
    background: #e35855;
    .hd{
        letter-spacing: .1em;
        padding: 4%;
        text-align: center;
        .num{
            font-size: 40px;
        }
        .title{
            font-size: 18px;
            color: #f99;
        }
    }

    .bd{
        background: #e0524f;
        padding: 4%;
        display: flex;
    }
    .cell{
        letter-spacing: .1em;
        flex-grow: 1;
        text-align: center;
        .num{
            font-size: 16px;
        }
        .subtitle{
            font-size: 14px;
            color: #f99;
        }
    }
}

.info{
    section{
        background: #fff;
        margin-bottom: 3%;
        dt{
            padding: 4%;
            border-bottom: 1px solid #eaeaea;
        }
        li{
            padding: 4%;
            display: flex;
            justify-content: space-between;
        }
    }
    .siblings{
        padding: 6%;
    }
    .fixed{
        position: fixed;
        left: 0;
        bottom: 0;
        right: 0;
        padding: 4%;
        background: #fff;
        border-top: 1px solid #eaeaea;
    }
}