.l_box {
    margin-bottom: 0.2667rem;
}

.l_box_in {
    padding: 0.5333rem 0.4rem;
}

.l_box_flex {
    display: flex;
    justify-content: space-around;
}

.bg {
    background: #fff;
}

.m_box {
    font-size: .4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__icon {
        width: 0.24rem;
        height: 0.4rem;
    }
}

.m_percent {
    background: #eaeaea;
    &__bar {
        background: #a5daff;
        height: 4px;
    }
}

.m_calc {
    font-size: 0.4rem;
    padding: 0.5333rem;
    &__title {
        // padding-left: 0.8rem;
        margin-bottom: 0.2667rem;
    }
    &__btn {
        height: 1.4667rem;
        line-height: 1.4667rem;
        padding: 0 0.4rem;
        background: #fff3f3;
    }
}

.m_desc {
    display: flex;
    flex-direction: column;
    a {
        position: relative;
        font-size: 0.4rem;
        padding: 0.5333rem;
        &::after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 1px;
            background: #eaeaea;
            transform: scaleY(.5);
        }
        &:last-child::after {
            content: none;
        }
    }
}

.m_fixed_fill{
    height: 1.3333rem;
}
.m_op {
    display: flex;
    justify-content: space-between;
}

.m_op__service {
    font-size: 0.2667rem;
    text-align: center;
    flex-grow: 1;
    height: 1.3333rem;
    color: #898996;
    background: #fff;
}

.m_op__invest {
    font-size: 0.4267rem;
    color: #fff;
    text-align: center;
    height: 1.3333rem;
    line-height: 1.3333rem;
    width: 7.8667rem;
    background-image: linear-gradient(90deg, #f94c50 0%, #f77366 100%), linear-gradient( #d7d7d7, #d7d7d7);
}
.m_op__service_icon{
    margin: 0.2rem auto 0.1333rem auto;
    width: 0.5333rem;
    height: 0.52rem;
}